<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>嘉文四世</string>
	<string>德玛西亚</string>
	<string>艾欧尼亚</string>
	<string>诺克萨斯</string>
	<string>比尔吉沃特</string>
	<string>弗雷尔卓德</string>
	<string>无畏先锋</string>
</array>
</plist>
