<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>图片圆角.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78E2333A1F1F2C6C00424179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E233531F1F2C6C00424179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E2335E1F1F2C6C00424179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
