<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>提示框.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>787E93441F3051C400ACC4EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787E935D1F3051C500ACC4EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787E93681F3051C500ACC4EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
