<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIImage加载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>786AE7281F174CD90060C971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786AE7411F174CDA0060C971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786AE74C1F174CDA0060C971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
